.DS_Store
.idea
dependent-patches.lock.json
patches.lock.json
behat.yml
build
composer.lock
grumphp.yml
node_modules
npm-debug.log
package-lock.json
runner.yml
phpunit.xml
vendor
yarn.lock
docker-compose.*.yml
/.gitattributes
recipes
