default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\oe_content\Behat\FeatureContext
        - Drupal\Tests\oe_content\Behat\DateFieldContext
        - Drupal\Tests\oe_content\Behat\CleanupContext
        - Drupal\Tests\oe_content\Behat\WysiwygContext
        - Drupal\Tests\oe_media\Behat\AvPortalContext
        - Drupal\Tests\oe_media\Behat\MediaContext
        - Drupal\Tests\oe_content\Behat\Content\CorporateContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\EventContentContext
        - OpenEuropa\Behat\TransformationContext:
            elements:
              Internal organiser field: "#edit-oe-event-organiser-internal-0-target-id"
            pages:
              AV Portal photo creation: 'media/add/av_portal_photo'
              Call for tenders creation: 'node/add/oe_tender'
              document creation: 'media/add/document'
              Event creation: 'node/add/oe_event'
              interface translation: 'admin/config/regional/translate'
              News creation: 'node/add/oe_news'
              Page creation: 'node/add/oe_page'
              Policy creation: 'node/add/oe_policy'
              Publication creation: 'node/add/oe_publication'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      ajax_timeout: 10
      javascript_session: selenium2
      browser_name: "${selenium.browser}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "${selenium.browser}", "version": "*" }
      base_url: "${drupal.base_url}"
      files_path: "%paths.base%/tests/fixtures/"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      region_map:
        title form element: ".field--name-title"
        teaser form element: ".field--name-oe-teaser"
        summary form element: ".field--name-oe-summary"
        featured media legend form element: ".field--name-oe-event-featured-media-legend"
        alternative title form element: ".field--name-oe-content-short-title"
        subject form element: ".field--name-oe-subject"
        redirect link form element: ".field--name-oe-content-legacy-link"
        content owner form element: ".field--name-oe-content-content-owner"
        Online link: "#edit-oe-event-online-link-0"
        Website: "#edit-oe-event-website-0"
        Social media links: "#oe-social-media-links-values"
        Description: "#edit-oe-event-featured-media"
        Event report: "#edit-group-report"
        Event contact: "#edit-oe-event-contact-wrapper"
        Event contact social media links: ".field--name-oe-social-media"
        Documents: "#edit-oe-documents"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.messages--error'
        success_message_selector: '.messages.messages--status'
        warning_message_selector: '.messages.messages--warning'
    FriendsOfBehat\ServiceContainerExtension:
      imports:
        - 'tests/Behat/config/services.yml'
  formatters:
    progress: ~
