default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\oe_content\Behat\FeatureContext
        - Drupal\Tests\oe_content\Behat\DateFieldContext
        - Drupal\Tests\oe_content\Behat\CleanupContext
        - Drupal\Tests\oe_content\Behat\WysiwygContext
        - Drupal\Tests\oe_content\Behat\MinkContext
        - Drupal\Tests\oe_media\Behat\AvPortalContext
        - Drupal\Tests\oe_media\Behat\MediaContext
        - Drupal\Tests\oe_media\Behat\FeatureContext
        - Drupal\Tests\oe_content\Behat\Content\Contact\GeneralContactContext
        - Drupal\Tests\oe_content\Behat\Content\CorporateContentContext
        - Drupal\Tests\oe_content\Behat\Content\Contact\GeneralContactContext
        - Drupal\Tests\oe_content\Behat\Content\Contact\PressContactContext
        - Drupal\Tests\oe_content\Behat\Content\Author\CorporateBodyAuthorContext
        - Drupal\Tests\oe_content\Behat\Content\DocumentReference\DocumentDocumentReferenceContext
        - Drupal\Tests\oe_content\Behat\Content\DocumentReference\PublicationDocumentReferenceContext
        - Drupal\Tests\oe_content\Behat\Content\EventSpeaker\DefaultEventSpeakerContext
        - Drupal\Tests\oe_content\Behat\Content\Venue\DefaultVenueContext
        - Drupal\Tests\oe_content\Behat\Content\ProgrammeItem\DefaultProgrammeItemContext
        - Drupal\Tests\oe_content\Behat\Content\Node\ConsultationContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\CallForProposalsContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\EventContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\NewsContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\OrganisationContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\ProjectContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\PublicationContentContext
        - Drupal\Tests\oe_content\Behat\Content\Contact\GeneralContactContext
        - Drupal\Tests\oe_content\Behat\Content\Organisation\StakeholderOrganisationContext
        - Drupal\Tests\oe_content\Behat\Content\SubEntityContext
        - Drupal\Tests\oe_content\Behat\Content\Node\PersonContentContext
        - Drupal\Tests\oe_content\Behat\Content\PersonJob\DefaultPersonJobContext
        - OpenEuropa\Behat\TransformationContext:
            elements:
              Internal organiser field: "#edit-oe-event-organiser-internal-0-target-id"
              publication contact type: "#edit-oe-publication-contacts-actions-bundle"
              Reference code second field: "input[name='oe_reference_codes[1][value]']"
              Acting role field: ".field--name-oe-acting"
            pages:
              Person creation: 'node/add/oe_person'
              Page creation: 'node/add/oe_page'
              News creation: 'node/add/oe_news'
              Event creation: 'node/add/oe_event'
              Policy creation: 'node/add/oe_policy'
              Project creation: 'node/add/oe_project'
              Publication creation: 'node/add/oe_publication'
              Call for tenders creation: 'node/add/oe_call_tenders'
              Call for proposals creation: 'node/add/oe_call_proposals'
              Organisation creation: 'node/add/oe_organisation'
              Consultation creation: 'node/add/oe_consultation'
              AV Portal photo creation: 'media/add/av_portal_photo'
              document creation: 'media/add/document'
              interface translation: 'admin/config/regional/translate'
  extensions:
    Drupal\MinkExtension:
      browserkit_http: ~
      ajax_timeout: 15
      javascript_session: selenium2
      browser_name: "${selenium.browser}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "${selenium.browser}", "version": "*" }
      base_url: "${drupal.base_url}"
      files_path: "%paths.base%/tests/fixtures/"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      region_map:
        title form element: ".field--name-title"
        teaser form element: ".field--name-oe-teaser"
        summary form element: ".field--name-oe-summary"
        featured media form element: ".form-wrapper.field--name-oe-featured-media"
        featured media legend form element: ".form-wrapper.field--name-oe-event-featured-media-legend"
        featured media field: ".field.field--name-oe-featured-media"
        alternative title form element: ".field--name-oe-content-short-title"
        subject form element: ".field--name-oe-subject"
        redirect link form element: ".field--name-oe-content-legacy-link"
        content owner form element: ".field--name-oe-content-content-owner"
        first name form element: "#edit-oe-person-first-name-wrapper"
        last name form element: "#edit-oe-person-last-name-wrapper"
        Online link: "#edit-oe-event-online-link-0"
        Website: "#edit-oe-event-website-0"
        Project Website: "#edit-oe-project-website-0"
        Alternative titles and teaser : "#edit-group-alternative-titles-teaser"
        Budget : "#edit-group-budget"
        Result : "#edit-group-result"
        Call for proposals: "#oe-project-calls-values"
        Social media links: "#oe-social-media-links-values"
        Event media: '.field--name-oe-event-media'
        Description: "#edit-oe-event-featured-media"
        Event report: "#edit-group-report"
        Event contact: "#edit-oe-event-contact-wrapper"
        Call for proposals contact: "#edit-oe-call-proposals-contact-wrapper"
        Project coordinators: ".field--name-oe-project-coordinators"
        Project participants: ".field--name-oe-project-participants"
        Project result files: ".field--name-oe-project-result-files"
        Project documents: ".field--name-oe-documents"
        Project contact: "#edit-oe-project-contact-wrapper"
        Project locations: "#edit-oe-project-locations-wrapper"
        Documents: "#edit-oe-documents"
        Event venue: "#edit-oe-event-venue-wrapper"
        Contact social media links: ".field--name-oe-social-media"
        Contact link: ".field--name-oe-link"
        Organisation contact: "#edit-oe-organisation-contact-wrapper"
        Organisation chart: ".field--name-oe-organisation-chart"
        News contact: "#edit-oe-news-contacts-wrapper"
        News sources: ".field--name-oe-news-sources"
        Publication in the official journal: ".field--name-oe-call-proposals-journal"
        Grants awarded link: ".field--name-oe-call-proposals-grants-link"
        Related links: ".field--name-oe-related-links"
        Deadline model: "#edit-oe-call-proposals-model-wrapper"
        Deadline date: "#edit-oe-call-proposals-deadline-wrapper"
        Reference code form element: ".field--name-oe-reference-code"
        Publication contact: ".field--name-oe-publication-contacts"
        Publication thumbnail: "#edit-oe-publication-thumbnail"
        Reference codes: "#edit-oe-reference-codes-wrapper"
        Person portrait photo: "#edit-oe-person-photo"
        Person Media: "#edit-oe-person-media"
        Person jobs: "#edit-oe-person-jobs-wrapper"
        Person documents: "#edit-oe-person-documents-wrapper"
        Person CV upload: "#edit-oe-person-cv"
        Person declaration of interests file: "#edit-oe-person-interests-file"
        Person contacts: "#edit-oe-person-contacts-wrapper"
        Person transparency links: "#edit-oe-person-transparency-links-wrapper"
        Person biography: "#edit-oe-person-biography-timeline-wrapper"
        Person description: "#edit-oe-person-description-wrapper"
        Timeline: "#edit-oe-timeline-wrapper"
        Consultation contacts: "#edit-oe-consultation-contacts-wrapper"
        Consultation documents: "#edit-oe-consultation-documents-wrapper"
        Event programme: "#edit-oe-event-programme-wrapper"
        Programme name: ".field--name-oe-event-programme .field--name-name"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.messages--error'
        success_message_selector: '.messages.messages--status'
        warning_message_selector: '.messages.messages--warning'
    FriendsOfBehat\ServiceContainerExtension:
      imports:
        - 'tests/src/Behat/config/services.yml'
  formatters:
    progress: ~
