default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\oe_content\Behat\FeatureContext
        - Drupal\Tests\oe_content\Behat\DateFieldContext
        - Drupal\Tests\oe_content\Behat\CleanupContext
        - Drupal\Tests\oe_content\Behat\WysiwygContext
        - Drupal\Tests\oe_content\Behat\MinkContext
        - Drupal\Tests\oe_media\Behat\AvPortalContext
        - Drupal\Tests\oe_media\Behat\MediaContext
        - Drupal\Tests\oe_media\Behat\FeatureContext
        - Drupal\Tests\oe_content\Behat\Content\CorporateContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\EventContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\OrganisationContentContext
        - Drupal\Tests\oe_content\Behat\Content\Node\ProjectContentContext
        - Drupal\Tests\oe_content\Behat\Content\Contact\GeneralContactContext
        - OpenEuropa\Behat\TransformationContext:
            elements:
              Internal organiser field: "#edit-oe-event-organiser-internal-0-target-id"
              publication contact type: "#edit-oe-publication-contacts-actions-bundle"
            pages:
              Page creation: 'node/add/oe_page'
              News creation: 'node/add/oe_news'
              Event creation: 'node/add/oe_event'
              Policy creation: 'node/add/oe_policy'
              Project creation: 'node/add/oe_project'
              Publication creation: 'node/add/oe_publication'
              Call for tenders creation: 'node/add/oe_call_tenders'
              Organisation creation: 'node/add/oe_organisation'
              AV Portal photo creation: 'media/add/av_portal_photo'
              document creation: 'media/add/document'
              interface translation: 'admin/config/regional/translate'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      ajax_timeout: 10
      javascript_session: selenium2
      browser_name: "${selenium.browser}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "${selenium.browser}", "version": "*" }
      base_url: "${drupal.base_url}"
      files_path: "%paths.base%/tests/fixtures/"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      region_map:
        title form element: ".field--name-title"
        teaser form element: ".field--name-oe-teaser"
        summary form element: ".field--name-oe-summary"
        featured media form element: ".field--name-oe-featured-media"
        featured media legend form element: ".field--name-oe-event-featured-media-legend"
        alternative title form element: ".field--name-oe-content-short-title"
        subject form element: ".field--name-oe-subject"
        redirect link form element: ".field--name-oe-content-legacy-link"
        content owner form element: ".field--name-oe-content-content-owner"
        Online link: "#edit-oe-event-online-link-0"
        Website: "#edit-oe-event-website-0"
        Project Website: "#edit-oe-project-website-0"
        Alternative titles and teaser : "#edit-group-alternative-titles-teaser"
        Budget : "#edit-group-budget"
        Result : "#edit-group-result"
        Call for proposals: "#oe-project-calls-values"
        Social media links: "#oe-social-media-links-values"
        Description: "#edit-oe-event-featured-media"
        Event report: "#edit-group-report"
        Event contact: "#edit-oe-event-contact-wrapper"
        Project coordinators: ".field--name-oe-project-coordinators"
        Project participants: ".field--name-oe-project-participants"
        Project result files: ".field--name-oe-project-result-files"
        Project documents: ".field--name-oe-documents"
        Project contact: "#edit-oe-project-contact-wrapper"
        Project locations: "#edit-oe-project-locations-wrapper"
        Documents: "#edit-oe-documents"
        Event venue: "#edit-oe-event-venue-wrapper"
        Contact social media links: ".field--name-oe-social-media"
        Organisation contact: "#edit-oe-organisation-contact-wrapper"
        News contact: "#edit-oe-news-contacts-wrapper"
        News contact social media links: ".field--name-oe-social-media"
        Publication contact: "#edit-oe-publication-contact-wrapper"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.messages--error'
        success_message_selector: '.messages.messages--status'
        warning_message_selector: '.messages.messages--warning'
    FriendsOfBehat\ServiceContainerExtension:
      imports:
        - 'tests/Behat/config/services.yml'
  formatters:
    progress: ~
