imports:
  - { resource: vendor/openeuropa/code-review/dist/drupal-conventions.yml }

grumphp:
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T web'
  extensions:
    - OpenEuropa\CodeReview\ExtraTasksExtension

parameters:
  tasks.phpcs.ignore_patterns:
    - build/
    - node_modules/
    - vendor/
  tasks.phpcs.triggered_by:
    - php
    - module
    - inc
    - theme
    - install
    - yml

  extra_tasks:
    phpparser:
      ignore_patterns:
        - build/
        - node_modules/
        - vendor/
      visitors:
        declare_strict_types: ~
      triggered_by:
        - php
        - module
        - inc
        - theme
        - install
