includes:
  - ./vendor/openeuropa/code-review-drupal/dist/phpstan.drupal.neon
parameters:
  excludePaths:
    # Exclude the TimelineFieldProcessor due to very custom logic.
  	- modules/oe_content_timeline_field/src/TimelineFieldProcessor.php
    # Ignore errors related to removal of Hook class.
    # See: https://www.drupal.org/project/drupal/issues/3482464#comment-16101580
  	- src/Hook/OeContentHooks.php
  	- oe_content.module
