{#
/**
 * @file
 * Timeline template.
 */
#}

{% if items %}
  <ul>
    {% for item in items %}
      <li>
        <div>{{ item.label }}</div>
        <div>{{ item.title }}</div>
        <div>{{ item.body }}</div>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if limit > 0 %}
  <button>{{ show_more }}</button>
{% endif %}
